.heading{background-image: url("amrita.jpg");background-repeat: repeat; padding : 3cm;}
.h1{font-size: 2cm;color: blue;}
.h2{color: red;font-size: 1cm;text-align: center;font-weight: bold;}
.del{text-align: right ;margin-bottom: 7px;}
.o{background-color: burlywood;}
.o1{background-color:plum;text-align: center;font-size: x-large;}
